.theme-mode-light {
    --bg-color: #fff;
    --bg-second: #f7f9fa;
    --txt-color: #000;
    --txt-second: #bbb;
    --txt-thirst: #e8e8e8;
    --txt-fourth: #333;
    --txt-white: #fff;
    --txt-black: #000;
    --txt-border: #ccc;
    --txt-holder: #757575;
}

.theme-mode-dark {
    --bg-color: #202020;
    --bg-second: #373737;

    --txt-color: #fff;
    --txt-second: #ccc;
    --txt-thirst: #333;
    --txt-fourth: #ccc;
    --txt-white: #fff;
    --txt-black: #000;
    --txt-border: #444;
    --txt-holder: #757575;
}

.theme-color-blue {
    --main-color: #2835d5;
    --main-hover: #202ca5;
    --main-second: #2c2e2f;
}

.theme-color-red {
    --main-color: #e6232b;
    --main-second: #2c2e2f;
}
