.auth {
    background-repeat: repeat-x;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    animation: slideLogin 40000s linear infinite;
    transition: all 0.5s ease;
    @include flex(center, center);
    flex-direction: column;

    @include tablet {
        animation: slideLogin 50000s linear infinite;
    }

    @include mobile {
        animation: slideLogin 60000s linear infinite;
    }

    &__form {
        @include flex(center, center);
        flex-direction: column;
        position: relative;
        text-align: center;
        z-index: 999;

        &__form {
            --width: 640px;
            background-color: var(--bg-color);
            border-radius: 8px;
            max-width: calc(100vw - 32px);
            min-height: 610px;
            padding: 48px 16px;
            position: relative;
            width: var(--width);
            @include flex(center, flex-start);
            flex-direction: column;

            & > * ~ * {
                margin-top: 20px;
            }

            & > img {
                width: 44px;
                height: 44px;
            }

            & > h1 {
                font-size: 3rem;
                font-weight: 700;
                color: var(--txt-color);
                margin-bottom: 40px;
            }

            &__container {
                @include flex(center, center);
                flex-direction: column;
                max-width: 380px;
                width: 100%;

                & > button {
                    font-size: 1.8rem;
                }
            }

            &__change {
                margin-top: 50px;
                font-size: 1.4rem;
                color: var(--txt-color);

                & > * ~ * {
                    margin-left: 10px;
                }

                &__link {
                    color: var(--main-color);
                    font-weight: 600;
                }
            }

            &__forget-pass {
                font-size: 1.4rem;
                color: var(--main-color);
                font-weight: 600;
            }

            &__service-term {
                font-size: 1.2rem;
                margin-top: 50px;
                line-height: 1.6rem;
                @include flex(center, center);
                flex-direction: column;
                color: var(--txt-color);

                & &__link {
                    text-decoration: underline;
                }
            }
        }
    }

    &__sub {
        @include flex(center, center);
        padding: 10px;
        z-index: 999;

        & > li {
            font-size: 1.4rem;
            color: var(--txt-white);
            font-weight: 300;
            text-transform: capitalize;
        }

        & > li ~ li {
            padding-left: 10px;
            margin-left: 10px;
            border-left: 1px solid var(--txt-white);
        }
    }
}

@keyframes slideLogin {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 90000%;
    }
}
