.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999;

    &.shrink &__wrapper__top {
        height: 0;
        overflow: hidden;
    }

    &__wrapper {
        &__top {
            height: $top-header-size;
            @include flex(center, space-between);
            transition: height 0.3s ease;

            @include tablet {
                height: $top-header-size-tablet;
            }

            @include mobile {
                display: none;
            }

            &__devided {
                @include flex(center, flex-start);

                & > li {
                    cursor: pointer;
                    padding-right: 10px;
                    padding-left: 10px;
                    border-right: 1px solid var(--txt-color);

                    &:last-child {
                        border: 0;
                        padding-right: 0;
                    }

                    & a {
                        text-transform: uppercase;
                        font-size: 1.2rem;
                        font-weight: 400;
                        color: var(--txt-color);
                    }

                    &:hover > a {
                        color: var(--main-color);
                    }
                }
            }
        }

        &__mid {
            height: $mid-header-size;
            position: relative;
            @include flex(center, space-between);
            transition: height 0.3s ease;

            @include tablet {
                height: $mid-header-size-tablet;
            }
            @include mobile {
                height: $mid-header-size-mobile;
            }

            &__menu-toggle {
                display: none;
                cursor: pointer;
                color: var(--txt-color);

                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.6rem;
                }

                @include tablet {
                    display: block;
                }
            }

            &__logo {
                max-width: 200px;

                @include tablet {
                    display: none;
                }
            }

            &__user-menu {
                padding-right: 20px;
                @include flex(center, flex-end);
                color: var(--txt-color);

                & > li ~ li {
                    margin-left: 20px;
                }

                & > li > a {
                    @include flex(center, center);
                    font-size: 2.6rem;
                }

                &__search {
                    display: none;
                }

                &__notification {
                    position: relative;

                    &__quantity {
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: -10px;
                        right: -10px;
                        font-size: 1.2rem;
                        background-color: var(--main-color);
                        border-radius: 50%;
                        @include flex(center, center);
                        color: var(--txt-white);

                        @include mobile {
                            width: 16px;
                            height: 16px;
                            font-size: 1rem;
                            top: -6px;
                            right: -6px;
                        }
                    }
                }

                &__user {
                    position: relative;

                    &__avatar {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        overflow: hidden;
                        @include flex(center, center);
                        cursor: pointer;
                    }
                }

                @include tablet {
                    width: max-content;
                    padding-right: 0;

                    &__user {
                        display: none;
                    }
                }

                @include mobile {
                    &__search {
                        display: block;
                    }
                }
            }
        }

        &__bottom {
            position: relative;
            height: $bottom-header-size;

            @include tablet {
                display: none;
            }

            &__main-menu {
                position: relative;
                width: 100%;
                height: 100%;
                @include flex(center, center);

                &__underline {
                    display: inline-block;
                    width: 30px;
                    height: 2px;
                    border-radius: 3px;
                    background-color: var(--main-color);
                    position: absolute;
                    z-index: 99;
                    bottom: 0;
                    transition: all 0.4s linear;
                }

                & > li {
                    height: 100%;
                    padding: 0 20px;

                    & > a {
                        @include flex(center, center);
                        height: 100%;
                        font-size: 1.6rem;
                        color: var(--txt-fourth);

                        &.active {
                            color: var(--main-color);
                            // font-weight: 600;
                        }
                    }

                    &:hover > a {
                        color: var(--main-color);
                    }
                }
            }

            &__mega-dropdown {
                &__content {
                    width: 100%;
                    padding: 20px;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(100px);
                    transition: all 0.3s ease;
                    pointer-events: none;

                    &__title {
                        width: 100%;
                        font-size: 1.4rem;
                        font-weight: 600;
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                        border-bottom: 1px solid #ccc;
                    }

                    &__title ~ ul {
                        li {
                            cursor: pointer;
                            font-size: 1.4rem;
                            transition: all 0.3s ease;
                            line-height: 2rem;

                            & i {
                                margin-right: 10px;
                            }

                            & a {
                                padding: 10px 0;
                            }

                            &:hover {
                                transform: translateX(10px);
                            }
                        }
                    }
                }

                &.active {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                    pointer-events: visible;
                }
            }
        }
    }
}

.dropdown {
    position: relative;
}

@keyframes searchLoading {
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
