.form-input {
    width: 100%;
    margin-bottom: 14px;

    & > div {
        position: relative;

        input {
            width: 100%;
            padding: 10px 10px;
            font-size: 1.6rem;
            outline: 0;
            border: thin solid transparent;
            background-color: var(--bg-second);
            color: var(--txt-color);
            border-radius: 10px;

            &:focus {
                border: thin solid var(--txt-second);
            }
        }

        & > i {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            font-size: 2rem;
            color: $error-color;
            visibility: hidden;
            opacity: 0;
        }
    }

    &.error > div > i {
        visibility: visible;
        opacity: 1;
    }

    &.error > div > input {
        border-color: $error-color;
    }

    &__message-error {
        float: left;
        font-size: 1.2rem;
        color: $error-color;
        display: none;
        margin-top: 2px;
    }

    &.error &__message-error {
        display: block;
    }
}
