.menu__wrapper {
    width: max-content;
    display: flex;
    flex-direction: column;
}

.btn-wrapper {
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 0;
    text-transform: uppercase;
}
