.paginate {
    @include flex(center, center);
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 50px;
    color: var(--txt-color);

    & i {
        font-size: 1.6rem;
        font-weight: 700;
    }

    & > * {
        margin: 0 5px;
        padding: 5px 5px;
        cursor: pointer;

        @include mobile {
            margin: 4px;
            padding: 5px 3px;
        }
    }

    &__btn {
        width: 4rem;
        height: 4rem;
        margin: 0 10px;
        @include flex(center, center);
        border-radius: 50%;
        border: 1px solid var(--txt-color);

        &:hover {
            background-color: var(--bg-second);
        }

        @include mobile {
            &:hover {
                background-color: transparent;
            }
        }

        &--disable {
            pointer-events: none;
            border-color: #ccc;
            color: #ccc;
        }
    }

    &__page {
        border-bottom: 2px solid transparent;

        &:hover {
            color: var(--main-color);
        }

        @include mobile {
            &:hover {
                color: var(--txt-color);
            }
        }

        &--active {
            pointer-events: none;
            color: var(--main-color);
            border-bottom: 2px solid var(--main-color);
        }
    }
}
