.section {
    padding-top: 60px;
    padding-bottom: 40px;

    @include tablet {
        padding-top: 30px;
        padding-bottom: 60px;
    }

    & > * ~ * {
        margin-top: 40px;

        @include tablet {
            margin-top: 30px;
        }
    }

    &__title {
        font-size: 2.4rem;
        font-weight: 700;
        text-transform: capitalize;
        text-align: center;
        margin: 0 auto;
        color: var(--txt-color);

        @include mobile {
            max-width: 300px;
        }
    }

    &__desc {
        color: var(--txt-color);
        margin-top: 10px;
        font-size: 1.6rem;
        font-weight: 400;
        text-align: center;
    }
}
