.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    padding: 20px;
    z-index: 99999;
    background-color: var(--txt-white);
    color: var(--txt-black);
    animation: openSidebar 0.5s ease;
    transition: left 0.5s ease;
    overflow-y: overlay;

    @include mobile {
        width: 100vw;
    }

    &__close {
        position: absolute;
        top: 17px;
        right: 20px;
        background-color: transparent;
        color: var(--txt-black);
        font-size: 2.4rem;
    }

    &__title {
        @include flex(center, flex-start);
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid $border-color;

        & > button {
            @include flex(center, flex-start);
            background-color: transparent;
            color: var(--txt-black);
            margin-right: 20px;
            font-size: 2rem;
        }
    }

    &__menu {
        position: relative;

        & > * ~ * {
            margin-top: 16px;
        }

        &__avatar {
            @include flex(center, flex-start);

            & > img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
            }

            & > h3 {
                font-size: 1.6rem;
            }
        }

        &__login-btn {
            margin-top: 16px;
            @include flex(center, center);
        }

        &__select {
            font-size: 1.6rem;
            border-bottom: 1px solid $border-color;
            padding-bottom: 16px;

            & > span {
                font-weight: 600;
            }

            &__list {
                margin-top: 10px;

                & > * ~ * {
                    margin-top: 10px;
                }

                &__item {
                    @include flex(center, space-between);
                    cursor: pointer;

                    &__link {
                        @include flex(center, flex-start);
                        padding: 5px 0;
                        width: 100%;
                        height: 100%;

                        & > i {
                            font-size: 2.4rem;
                            margin-right: 10px;
                        }

                        &.active {
                            color: var(--main-color);
                            font-weight: 600;
                        }

                        &__img {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            @include flex(center, center);
                            margin-right: 10px;
                            font-size: 2rem;

                            & > i {
                                transform: scale(0);
                                transition: transform 0.3s ease;
                            }

                            &.active > i {
                                transform: scale(1);
                            }
                        }
                    }

                    & > i {
                        font-size: 2.4rem;
                    }
                }
            }
        }

        &__select:last-child {
            border-bottom: none;
            margin-bottom: 40vh;
        }
    }

    &__search {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        &__input {
            position: relative;
            width: 100%;
            height: 40px;

            & input {
                width: 100%;
                height: 100%;
                padding: 0 30px 0 10px;
                font-size: 1.6rem;
                outline: 0;
                border: thin solid transparent;
                color: var(--txt-black);
                border-radius: 10px;
                background-color: $bg-second;

                &:focus {
                    border: thin solid $txt-second;
                }
            }

            &-loading {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%) rotate(0);
                animation: searchLoading 1s linear infinite;
            }
        }
    }
}

@keyframes openSidebar {
    from {
        left: -100vw;
    }
    to {
        left: 0;
    }
}
